body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #cbcbcb;
  line-height: 1.8;
  background-color: rgb(26, 26, 26);
}
/* Default state for elements */
.fade-in {
    opacity: 0;
    transform: translateY(20px); /* Initial position */
    transition: opacity 1s ease, transform 1s ease;
}

/* Final state when element is in view */
.fade-in.visible {
    opacity: 1;
    transform: translateY(0px); /* Move element to normal position */
}

#home, #about, #portfolio, #contact{
    opacity: 0;
}
#home{
    margin-top: 5vh;
}
.card{
    background-color: rgba(105, 105, 105, 0.764);
    color: rgb(216, 216, 216);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-top: 5vh;
}
.card-img-top{
    filter: blur(3px);
}
.carousel-img{
    height: 70vh;
    opacity: 0.5;
    filter: blur(5px);
}
#frontEndText,#backEndText,#cloudText{
    z-index: 1; 
    background-color: rgba(0, 0, 0, 0.699);
    height: 20%;
}
#frontEndList p{
    
    transform: translateY(-15px);
    opacity: 0;
    padding: 0;
    margin: 0;
}
#backEndList p{
    
    transform: translateY(-15px);
    opacity: 0;
    padding: 0;
    margin: 0;
}
#cloudList p{
    
    transform: translateY(-15px);
    opacity: 0;
    padding: 0;
    margin: 0;
}
#portfolioBg{
    background-color: rgba(16, 16, 16, 0.699);
    text-shadow: 12px 120px 12px black;
    
}
#portfolioImg{
    filter: blur(2px);
    filter:brightness(0.4);
    
    opacity: 0.8;
    height: 50vh;

}
#workExpCard{
  height:40vh;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #888 #00000000; /* Thumb and track colors */
}

    


#readMoreBtn{
  position: relative;
  height: 9vh;
  margin-top: 31vh;
  float: right;
  width: 100%;
  border:none;
  background: linear-gradient(
    to bottom, 
    rgba(150, 0, 0, 0),  /* Fully transparent red at the start */
    rgba(0, 0, 0, 0.718),  /* Fully opaque red in the center */
    rgb(0, 0, 0)   /* Fully transparent red at the end */
    
  );
  color: rgba(122, 122, 122, 0.663);
  align-items: flex-end;
  display: flex;
  justify-content: center;
  padding: 2vh;
  
}





/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('/w3images/parallax1.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/w3images/parallax2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/w3images/parallax3.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}